@use "../custom" as *;
// GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($secondary, 0.95), rgba($primary, 0.95));
}

// centering -- absoulte
@mixin abscen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// transition-portfolio
@mixin transitionproperty {
    transition-duration: 1000ms;
    transition-property: all;
}